<!DOCTYPE HTML>
<html>
<head>
    <title>Restaurant Proglot Monet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Welcome to Proglot Monet Restaurant site! You should to log in to view more information</div>
<a href="/login">Log in</a>
<!--<a href="/registration">Create a new account</a>-->
</body>
</html>