<!DOCTYPE HTML>
<html>
<head>
    <title>Restaurant Proglot Monet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Log in to the system</div>
<a href="/login">Log in</a>
</body>
</html>